<title>Too Cool Programmers Redesign of Jim Davis' website!</title>

<!--Start of Body-->
  <h1>Welcome to Jim Davis' page</h1>
  <br />
  <%= image_tag '/images/jwdavis-dispatch.jpg', :alt=>'Jim Davis', :width=>'450' %>
 
  <div>
  	<font color ="black" size="0" face= "arial"> Photo by Tom Dodge, Columbus Dispatch, 2009</font> 
  </div>
  <h2 class="top">*** PLEASE NOTE THAT PROF. DAVIS WILL BE AWAY ON SABBATICAL FOR THE 2015-2016 ACADEMIC YEAR *** </h2>
  
<%=partial "footer" %>
<!--End of Body-->
