<!-- Placeholder for media html page -->

<h1>Media and Press</h1>
<BR>
<TABLE>
<TR><TD>&nbsp;&nbsp;&nbsp;</TD>

</TR>
<TR>
<TD>

<ul>
<LI><b>TV/Video</b>: 
<UL>
<LI><b>NPR</b> (WOSU) Interview on "All Sides with Ann Fisher" (aired live 01/20/15)</LI>
<LI><b>NPR</b> (WOSU) Interview on "All Sides with Ann Fisher" (aired live 07/03/14)</LI>
<LI><b>iMix, Big10 TV Network</b>, "Smart Surveillance" (initially aired 7/28/09)</LI>
<LI><b>10TV news (CBS)</b>, "Smart Technology Being Used at Ohio State" (Aired 07/17/09)</LI>
<LI><b>OSU Video</b>, "Better Eyes" (released January 9, 2009)</LI>
<LI><b>OSU Video</b>, "'Smart' Surveillance System May Tag Suspicious or Lost People" (released 12/08)</LI>
<LI><b>Frontline</b>: "Spying on the Home Front" (Aired 05/15/07)</LI>
<LI><b>Fox-28/ABC-6 News</b>, "They're Watching You" (Aired 05/10/04)</LI> 
<LI><b>Fox-28/ABC-6 News</b>, Interview on thermal technology (Aired 05/08/03, 05/09/03)</LI>
<LI><b>NBC-4 News</b>, (aired 05/09/03)</LI> 
<LI><b>CBS-10 News</b>, (aired 05/04/03)</LI> 
<LI><b>OSU Video</b>,"Researcher developing video technology for surveillance: 
<i>Cameras being trained to `see' people and recognize their activities</i>" (released 04/30/03)</LI>
</UL>


<LI><b>Radio</b>:
<UL>
<LI><b>NPR</b> (WOSU) Interview on "All Sides with Ann Fisher" (aired live 01/20/15)</LI>
<LI><B>NPR</B> (WOSU) Interview on "All Sides with Ann Fisher" (aired live 07/03/14)</LI>
<LI><b>AAAS Science Update</b> radio feature, 
"Internet Video: A new technology could make watching video on the Internet less frustrating" 
(aired January 12, 2005) [<A HREF="http://web.cse.ohio-state.edu/~jwdavis/Media/16-InternetVideoStory.mp3">MP3 audio clip</a>],
<a href="http://www.scienceupdate.com/january05.html#050112">[web page and audio]</A>
</LI>
</UL>

<LI><b>Print</b>:
<UL>

<LI><b>Security Dealer Integrator</b>, "Eye on Troublesome Patterns," May 25, 2011 <a href="http://www.securityinfowatch.com/Features/eye-troublesome-patterns">[WWW]</a>, <A HREF="http://web.cse.ohio-state.edu/~jwdavis/Media/SDI-2011.pdf">[PDF]</a></LI>

<LI><b>Popular Mechanics</b>, "PM's Guide to the Best in Home Surveillance Gear," April 6, 2011 <a href="http://www.popularmechanics.com/technology/gadgets/reviews/pms-guide-to-the-best-in-home-surveillance-gear">[WWW]</a>, <A HREF="http://web.cse.ohio-state.edu/~jwdavis/Media/PM-2011.pdf">[PDF]</a></LI>


<LI><b>The Why Files: the Science Behind the News</b>, "Video Surveillance: Who is Watching You, and Why," March 11, 2010 <a href="http://whyfiles.org/323cyberspies/index.php?g=2.txt">[WWW]</a></LI>

<LI><b>Electrical Contractor</b> magazine, "Surveillance with Smarts," February 2010, p. 50 <a href="http://www.ecmag.com/index.cfm?fa=article&amp;articleID=11200">[WWW]</a></LI>

<LI><b>OSU Alumni Magazine</b>, Research Report Article, "Eye in the Sky",  May/June, 2009, page 30 <A HREF="http://web.cse.ohio-state.edu/~jwdavis/Media/alumni09.pdf">[PDF]</a>
</LI>


<LI><b>OSU News In Engineering</b> Research Update article,
"Intelligent Surveillance Could Aid Law Enforcement", Vol. 81, No. 1, 2009
<A HREF="http://web.cse.ohio-state.edu/~jwdavis/Media/nie811.pdf">[PDF]</a></LI>


<LI><b>SPIE Newsroom</b>: Electronic Imaging &amp; Signal Processing,
"A Feature-Selection Approach to Fusing Electro-Optical and IR Imagery" (February 25, 2009)
<A HREF="http://web.cse.ohio-state.edu/~jwdavis/Publications/SPIE09.pdf">[PDF]</A>
<A HREF="http://spie.org/x33833.xml?highlight=x2410&amp;ArticleID=x33833">[WWW]</A></LI>


<LI><b>Photonics Spectra</b>, Tech News, "Neighborhood Watch, Sans Neighbors" (February, 2009; pp. 18-20) <A HREF="http://web.cse.ohio-state.edu/~jwdavis/Media/PhotonicsSpectra09.pdf">[PDF]</A></LI>
 


<LI><b>MSNBC</b>, Technology &amp; Science, "Computer has eye for Suspicious Behavior" (January 26, 2009)
<A HREF="http://web.cse.ohio-state.edu/~jwdavis/Media/MSNBC-09.pdf">[PDF (no pictures)]</A>, <A HREF="http://www.msnbc.msn.com/id/28566179/">[WWW]</A></LI>
 

<LI><b>Columbus Dispatch</b>, "Computers Might Spot People up to no Good" (January 24, 2009)
<A HREF="http://web.cse.ohio-state.edu/~jwdavis/Media/dispatch09.pdf">[PDF]</A>, <A HREF="http://dispatch.com/live/content/local_news/stories/2009/01/24/cameras.ART_ART_01-24-09_B4_5ICLMCL.html?sid=101">[WWW]</A></LI>
 

<LI><b>onCampus</b>, Discovery Briefs, "'Smart' Surveillance System May Tag Suspicious or Lost People" (January 8, 2009)
<A HREF="http://web.cse.ohio-state.edu/~jwdavis/Media/onCampus-09.pdf">[PDF]</A></LI>
 

<LI><b>UWeekly</b> "Big Brother No, Smart Camera Yes" (February 18, 2009)
<A HREF="http://web.cse.ohio-state.edu/~jwdavis/Media/UWeekly-09.pdf">[PDF]</A></LI>
 


<LI><b>The Lantern</b>, "Under Surveillance" (January 27, 2009)
<A HREF="http://web.cse.ohio-state.edu/~jwdavis/Media/Lantern09b.pdf">[PDF]</A></LI>
 

<LI><b>The Lantern</b>, "'Smart' Cameras are Watching You" (January 9, 2009)
<A HREF="http://web.cse.ohio-state.edu/~jwdavis/Media/Lantern09.pdf">[PDF]</A></LI>
 

<LI><b>OSU News Release</b>, "'Smart' Surveillance System May Tag Suspicious or Lost People" (released 12/08)
<A HREF="http://web.cse.ohio-state.edu/~jwdavis/Media/OSU-press-08-print.pdf">[PDF]</A>, <A HREF="http://researchnews.osu.edu/archive/surveillance/index.htm">[WWW]</A></LI>
 

<LI><b>The Economist</b>, Science &amp; Technology section, "Surveillance Technology: If Looks Could Kill", October 23, 2008
<A HREF="http://web.cse.ohio-state.edu/~jwdavis/Media/TheEconomist08.pdf">[PDF]</a>
</LI>

<LI><b>OSU CSE Newletter</b>, Focus on Research Article, "Jim Davis: Vision for the Future of Surveillance",  Autumn 2007, pages 2-3
<A HREF="http://web.cse.ohio-state.edu/~jwdavis/Media/jwdavis-research-cse-07.pdf">[PDF]</a>
</LI>

<LI><b>OSU Alumni Magazine</b>, Research Report Article, "Watch the Hands and Face",  May/June, 2005, page 8
<A HREF="http://web.cse.ohio-state.edu/~jwdavis/Media/OSAM05.pdf">[PDF]</a>
</LI>

<LI><b>OSU News In Engineering</b> Research Update article,
"Advancing Technologies for Internet Video", Vol. 77, No. 1, Spring 2005
<A HREF="http://web.cse.ohio-state.edu/~jwdavis/Media/NIE_77.1_Spring_2005.pdf">[PDF]</a></LI>

<LI><b>ACM TechNews</b> Feature, "Researchers Find Way to Make Internet Video More Appealing", 
Vol. 6, Issue 734, December 22, 2004 <A HREF="http://web.cse.ohio-state.edu/~jwdavis/Media/ACMNewsService.pdf">[PDF]</a>, <a href="http://www.acm.org/technews/articles/2004-6/1222w.html">[WWW]</a></LI>

<LI><b>OSU News Release</b>, "Researchers find way to make internet video more appealing" (released 12/21/04)
<A HREF="http://researchnews.osu.edu/archive/facevid.htm">[WWW]</A></LI>

<LI><b>Homeland Security &amp; Defense</b>, "HSARPA seeking video software technology to interpret complex surveillance stream",
Vol. 3, No. 16, April 21, 2004 <A HREF="http://web.cse.ohio-state.edu/~jwdavis/Media/HSARPA.pdf">[PDF]</A></LI>

<LI><b>Columbus Business First</b>, Tech Now feature article, "Hot on Surveillance: Thermal technology grows in popularity, 
importance in post-911 world", Vol. 20, No. 7, Oct. 17, 2003
<A HREF="http://web.cse.ohio-state.edu/~jwdavis/Media/busFirst03.pdf">[PDF]</a></LI>
</UL>

</ul>

</TD>
</Table>