<!-- Placeholder for news html page -->

<B>Recent News</B>
<BR>
<TABLE>
<TR>
<TD>
<UL>

<LI><b><A HREF="labpositions.html">GRAD AND UNDERGRAD POSITIONS IMMEDIATELY AVAILABLE IN THE COMPUTER VISION LAB</A></b>.</LI>

<LI>Promoted to Full Professor, September 2013.</LI>

<LI>"One-Class Multiple Instance Learning and Applications to Target Tracking" appears in <i>Asian Conference on Computer Vision</i>, November 2012.</LI>


<LI>"Segmentation and Scene Modeling for MIL-based Target Localization" appears in <i>International Conference on Pattern Recognition</i>, November 2012.</LI>

<LI>Recipient of 2012 OSU College of Engineering <b>Lumley Research Award</b>.
</LI>


<LI><b>Workshop co-Chair</b>, <i>IEEE Conference on Computer Vision and Pattern Recognition</i> (2014).</li>

<LI><b>Program co-Chair</b>, <i>Symposium on Frontiers of Motion Understanding</i> (2013).</li>



<LI>"Detecting Behavioral Zones in Local and Global Camera Views" appears in <i>Machine Vision and Applications</i> 2012.</LI>

<LI>"Recovery and Reasoning about Occlusions in 3D using Few Cameras with Applications to 3D Tracking" appears in <i>International Journal of Computer Vision</i> 2011.
</LI>

<LI>"Object Association Across PTZ Cameras using Logistic MIL" and "Using Ripley's K-function to Improve Graph-Based Clustering Techniques" appears in <i>IEEE Computer Vision and Pattern Recognition (CVPR)</i> 2011.</LI>


<LI><b>Best Paper Award</b>: "Attention-based Target Localization using Multiple Instance Learning", <i>International Symposium on Visual Computing</i>, November 2010.</LI>

<LI><b>IEEE Computer Vision and Pattern Recognition Reviewer Award</b> 2010.</LI>

<LI>"Exploiting Multiple Cameras for Environmental Pathlets", "Learning Scene Entries and Exits using Coherent Motion Regions", and "Attention-based Target Localization using Multiple Instance Learning" appears in <i>International Symposium on Visual Computing</i>, November 2010.<br>
</LI>


<LI>"PTZ Camera Modeling and Panoramic View Generation via Focal Plane Mapping" appears in <i>Asian Conference on Computer Vision</i>, November 2010.<br>
</LI>


<LI>"Extracting Pathlets From Weak Tracking Data" and "Learning Directed Intention-driven Activities using Co-Clustering"
appears in <i>IEEE Conference on Advanced Video and Signal Based Surveillance</i>, August 2010.<br>
</LI>

<LI><b>CSE Teaching Award</b> 2009-2010.</LI>

<LI><b>Co-Program Chair</b>, <i>IEEE International Conference on Advanced Video and Signal based Surveillance</i> (Sept. 2010).</li>

<!--  
<LI><b>Air Force Research Laboratory research grant awarded ($305K)</b>.</LI>
<LI><b>Los Alamos National Laboratory research grant awarded ($113K)</b>.</LI>
-->

<LI><b>Co-General Chair</b>, <i>IEEE Workshop on Motion and Video Computing</i> (Dec. 2009).</li>


<LI><b>iMix, Big10 TV Network</b>, "Smart Surveillance" (initially aired 7/28/09) <A HREF="http://www.cse.ohio-state.edu/~jwdavis/imix.html">[WWW]</A></LI>

<LI><b>10TV news (CBS)</b>, "Smart Technology Being Used At Ohio State" (Aired 07/17/09) 
<A HREF="http://www.10tv.com/live/content/crimetracker10/stories/2009/07/17/story_osu_security.html?sid=102">[WWW]</A></LI>
 


<LI><b>SPIE Newsroom</b>: Electronic Imaging &amp; Signal Processing,
"A Feature-Selection Approach to Fusing Electro-Optical and IR Imagery" (February 25, 2009)
<A HREF="Publications/SPIE09.pdf">[PDF]</A>
<A HREF="http://spie.org/x33833.xml?highlight=x2410&amp;ArticleID=x33833">[WWW]</A></LI>

<LI><b>MSNBC</b>, Technology &amp; Science, "Computer has eye for Suspicious Behavior" (January 26, 2009)
<A HREF="Media/MSNBC-09.pdf">[PDF (no pictures)]</A>, <A HREF="http://www.msnbc.msn.com/id/28566179/">[WWW]</A></LI>
 

<LI><b>Columbus Dispatch</b>, "Computers Might Spot People up to no Good" (January 24, 2009)
<A HREF="Media/dispatch09.pdf">[PDF]</A>, <A HREF="http://dispatch.com/live/content/local_news/stories/2009/01/24/cameras.ART_ART_01-24-09_B4_5ICLMCL.html?sid=101">[WWW]</A></LI>
 

<LI><b>The Economist</b>, Science &amp; Technology section, "Surveillance Technology: If Looks Could Kill", October 23, 2008
<a href="Media/TheEconomist08.pdf">[PDF]</a>
</LI>

<LI>"A Fast Linear Registration Framework for Multi-Camera GIS Coordination",  
<i>IEEE International Conference on Advanced Video and Signal Based Surveillance</i>, September 2008.<br>
</LI>

<LI>"3D Occlusion Recovery using Few Cameras" and "A Recursive Filter For Linear Systems on Riemannian Manifolds",
<i>IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</i>, June 2008, Anchorage, Alaska.<br> 
</LI>

<LI>"Integrating Appearance and Motion Cues for Simultaneous Detection and Segmentation of Pedestrians",
<i>IEEE International Conference on Computer Vision</i> (October, 2007; oral accept rate 3.9%).<br>
</LI>


<LI>OSU CSE Newletter, Focus on Research Article, <b>"Jim Davis: Vision for the Future of Surveillance"</b>,  Autumn 2007, pages 2-3
<a href="Media/jwdavis-research-cse-07.pdf">[PDF]</a>
</LI>

<LI> 
Video clips of our research on tracking people in surveillance
videos shown in <b>Frontline: "Spying on the Home Front"</b> (Aired 05/15/07)
<A HREF="http://www.cse.ohio-state.edu/~jwdavis/Media/pbsFrontline-07.asx">[wmv video clip (no audio)]</A>,
<A HREF="http://www.pbs.org/wgbh/pages/frontline/homefront/etc/credits.html">credits</A></LI>

<LI>"Simultaneous Detection and Segmentation of Pedestrians using Top-down and Bottom-up Processing" 
and "Kernel-Based 3D Tracking", <i>IEEE International Workshop on Visual Surveillance</i>, June 2007.</LI>

<LI>"Next Steps in Automatic Video Surveillance", invited seminar at ASIS International Annual Seminars and Exhibits, May 17, 2007 [<A HREF="Media/ASE2007brochure.pdf">brochure</A>].</LI> 

<LI>"Background-Subtraction using Contour-based Fusion of Thermal and Visible Imagery",
<i>Computer Vision and Image Understanding</i>, Vol. 106, No. 2-3, 2007, pp. 162-182.</LI>


<LI>"An Adaptive Focus-of-Attention Model for Video Surveillance and Monitoring",
<i>Machine Vision and Applications</i>, Vol. 18, No. 1, 2007, pp. 41-64.</LI>


<LI>"Building Adaptive Camera Models for Video Surveillance", <I>IEEE Workshop on Application of Computer Vision</i>, February 2007.</LI>


<LI>"Extraction of Person Silhouettes from Surveillance Imagery using MRFs",
<I>IEEE Workshop on Application of Computer Vision</i>, February 2007.</LI>

<LI>"Fusion of Multiple Camera Views for Kernel-Based 3D Tracking",
<I>IEEE Workshop on Motion and Video Computing</i>, February 2007.</LI>

<LI>"Tracking Mean Shift Clustered Point Clouds for 3D Surveillance", and 
"Multiview Fusion for Canonical View Generation based on Homography Constraints" 
<i>ACM Mulimedia Workshop on Video Surveillance and Sensor Networks</i>, October 2006.
</LI>

<LI>"Background-Subtraction in Thermal Imagery Using Contour Saliency", <i>International Journal of Computer Vision</i>, Vol. 71, No. 2, 2007, pp. 161-181.</LI>

<LI>"Feature-level Fusion for Object Segmentation using Mutual Information",
<i>IEEE Workshop on Object Tracking and Classification in and Beyond the Visible Spectrum</i>, 
New York, NY, June 22, 2006.</LI>

<LI>"Minimal-Latency Human Action Recognition using Reliable-Inference", <i>Image and Vision Computing</i>, Vol 24, 2006, pp. 455-472.</LI>

<LI>Co-Chair, for <A href="http://www.cse.ohio-state.edu/otcbvs/">IEEE Workshop on
Object Tracking and Classification in and Beyond the Visible Spectrum</A> (OTCBVS), June 22, 2006.</LI>

<LI>"Sampling Representative Examples for Dimensionality Reduction and Recognition - Bootstrap
Bumping LDA", <i>European Conference on Computer Vision (ECCV)</i>, Graz, Austria, May 7-13, 2006.</LI>

<LI>"Why Direct LDA Is Not Equivalent to LDA", <i>Pattern Recognition</i>, Vol. 39, 2006, pp. 1002-1006.</LI>


<LI><b>Promotion to Associate Professor with Tenure</b> (October 1, 2005).</LI>

<LI><b>Guest Editor</b> (w/ Riad Hammoud) for CVIU Special Issue on 
<i>Advances in Vision Algorithms and Systems Beyond the Visible Spectrum</i>. 
[<a href="http://www.cse.ohio-state.edu/cviu-bvs">CALL FOR PAPERS</a>]
</LI>

<LI>"Modeling Behavior Trends and Detecting Abnormal Events using Seasonal
Kalman Filters", <i>Workshop on Human Activity Recognition and Modeling</i>, Oxford, UK,  September 9, 2005.</LI>

<LI>OSU <i>News In Engineering</i> Research Update article: 
"<A HREF="Media/NIE_77.1_Spring_2005.pdf">Advancing Technologies for Internet Video</A>", 
Vol. 77, No. 1, Spring 2005.</LI>

<LI>Appointed as <b>Associate Editor</b> for <i>Machine Vision and Applications</i> journal (May 2005).</LI> 

<LI><i>OSU Alumni Magazine</i> Research Report Article: <a href="Media/OSAM05.pdf">"Watch the Hands and Face"</a>,  May/June, 2005, page 8.</LI>

<LI>Recipient of 2005 OSU College of Engineering <b>Lumley Research Award</b>.
</LI>

<LI>"Fusion-based Background-Subtraction using Contour Saliency", <i>IEEE Workshop on
Object Tracking and Classification in and Beyond the Visible Spectrum</i>, San Diego, CA, June 20, 2005.</LI>

<LI><a href="http://www.scienceupdate.com/january05.html#050112">AAAS Science Update</a> Radio Feature: "Internet Video: A new technology could make watching video on the Internet less frustrating" (January 12, 2005) [<a href="Media/16-InternetVideoStory.mp3">MP3 audio clip</a>].<br>
</LI>

<LI>"A Two-Stage Template Approach to Person Detection in Thermal Imagery", 
<i>Workshop on Applications of Computer Vision</i>,  Breckenridge, Colorado, January 7, 2005.<br>
</LI>

<LI>ACM TechNews Feature "<a href="http://www.acm.org/technews/articles/2004-6/1222w.html">Researchers Find Way to Make Internet Video More Appealing</a>", Vol. 6, Issue 734, December 22, 2004 [<a href="Media/ACMNewsService.pdf">pdf</a>].</LI>

<LI>OSU News Release (12/21/04): "<A HREF="http://researchnews.osu.edu/archive/facevid.htm">Researchers find way to make internet video more appealing</a>".</LI>

<LI>Benchmark and Website Chair for <A href="http://www.cse.ohio-state.edu/otcbvs/05/">IEEE Workshop on
Object Tracking and Classification in and Beyond the Visible Spectrum</A> (OTCBVS), June 20, 2005.</LI>

<LI>Call for participation in <A href="http://www.cse.ohio-state.edu/otcbvs-bench/">OTCBVS benchmark data collection</a>.</LI>

<LI>"Differential Video Coding of Face and Gesture Events in Presentation Videos", 
<i>Computer Vision and Image Understanding</i>, Vol. 96, No. 2, 2004, pp. 200-215.</LI>

<LI>"Robust Detection of People in Thermal Imagery", <I>International Conference on Pattern Recognition</I> (August 2004).</LI>

<LI><b>NSF ITR grant award ($1.3M)</b> for proposal "Multi-Level, Active Attention Surveillance" (2004-2007).</LI>

<LI>"Sequential Reliable-Inference for Rapid Detection of Human Actions",  
<I>IEEE Workshop on Detection and Recognition of Events in Video</I> (July 2004).</LI>

<LI>"Robust Background-Subtraction for Person Detection in Thermal Imagery", 
<I>IEEE International Workshop on Object Tracking and Classification 
Beyond the Visible Spectrum</I> (July 2004).</LI>

<LI>"Detection and Recognition of Human Activity in Thermal Video", Presentation at U.S. Army Night Vision Laboratory,
Fort Belvoir, VA, June 28, 2004.</LI>

<LI>"Gender Recognition from Walking Movements using Adaptive Three-Mode PCA", 
<I>IEEE Workshop on Articulated and Nonrigid Motion</I> (June 2004).</LI>


<LI>
<b>TV interview:</b> "They're Watching You" (Aired 5/10/04).</LI>

<LI>"Video Surveillance of Tomorrow", invited seminar at ASIS International Annual Seminars and Exhibits, May 13, 2004 [<A HREF="Media/ASE2004brochure.pdf">brochure</A>].</LI>


<LI>"An Expressive Three-Mode Principal Components Model for Gender Recognition",  <I>Journal of Vision</I>, Vol. 4, No. 5, 2004, pp. 362-377.</LI>

<LI>Interview in feature article, "<A HREF="Media/HSARPA.pdf">HSARPA seeking video software technology to interpret complex surveillance stream</A>", 
<i>Homeland Security &amp; Defense</i>, Vol. 3, No. 16, April 21, 2004.

<LI>"Representing and Recognizing Human Actions", Presentation at Robotics Institute, Carnegie Mellon University, March 26, 2004.</LI>

<LI>"Computer Recognition of Human Actions", Presentation at Siemens Corp., Princeton, NJ, Dec. 15, 2003.</LI>

<LI>"Computer Recognition of Human Actions", Presentation at Boston University, Oct. 30, 2003.</LI>

<LI>"Computer Recognition of Human Actions", Presentation at University of Illinois at Urbana-Champaign, Oct. 24, 2003.</LI>

<LI> Interview in Tech Now feature article, "<A HREF="Media/busFirst03.pdf">Hot on Surveillance: Thermal technology grows in popularity, importance in post-911 world</A>", 
<i>Columbus Business First</i>, Vol. 20, No. 7, Oct. 17, 2003.</LI>

<LI>"Recognizing Human Action Efforts: An Adaptive Three-Mode PCA Framework", <I>International 
Conference on Computer Vision (ICCV)</I>, Oct. 13-16, 2003, Nice, France, pp. 1463-1469.</LI>
  
<LI>"An Expressive Three-Mode Principal Components Model of Human
Action Style", 
<i>Image and Vision Computing</i>, Vol. 21, No. 11, 2003, pp. 1001-1016.</LI>

<LI>"A Reliable-Inference Framework for Recognition of Human Actions", 
<I>IEEE International 
Conference on Advanced Video and Signal Based Surveillance (AVSS)</I>, pp. 169-176,
July 21-22, 2003, Miami, FL.</LI>
  

<LI>OSU <i>News In Engineering</i> article (and cover): 
"<A HREF="http://www.eng.ohio-state.edu/nie/nie751/751_future_innovators.html">Future Innovators</A>", 
Vol. 75, No. 1, Spring 2003.</LI>

<LI>OSU <i>Lantern</i> article: "<A HREF="Media/lantern.pdf">Night Vision: 
Advanced thermal surveillance system used to identify and catalogue motion</A>" (5/12/03).</LI>

<LI><b>TV Interviews</b>: 
<UL>
<LI>
<b>Fox-28/ABC-6 News</b> (aired 05/09/03, 05/08/03)</LI> 
<LI><b>NBC-4 News</b> (aired 05/09/03)</LI> 
<LI><b>CBS-10 News</b> (aired 05/04/03)</LI> 
</UL>
</LI>

<LI><b>Press Release</b> (04/30/03): "Researcher developing video technology for surveillance: 
<i>Cameras being trained to `see' people and recognize their activities</i>"</LI> 

<LI>Recipient of 2003 <B>NSF Career Award</B> (March 2003).</LI>

<LI>"A Three-Mode Expressive Feature Model of Action Effort", <I>IEEE Workshop on Motion and Video Computing</I>, Dec. 5-6, 2002, pp. 139-144. <B>[Received a Lockheed-Martin Best Paper Award]</B></LI>
</UL>
</TD>
</TR>
</TABLE>

<%=partial "footer" %>
