@charset "utf-8";

body {
  background: #bb0000;
  text-align: left;
  font-family: sans-serif;
  color: #d3d3d3;
}

h1 {
  color: #d3d3d3;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0);
  padding: 25px 450px 10px;
  margin: 0; 
}

p {
  color: rgb(0,0,0);
  padding: 15px 0 10px;
  font-size: 15px;
}

a:link {
  color: #000000;
}

a:visited {
  color: #d3d3d3;
}

.top{
  color: #d3d3d3;
  font-size: 10px;
  padding-top: 25px
}

tr.table1{
  padding: 0px 50px 0px 10px;
  width: 500;
  vertical-align: "top";
}